@model CarWorkshop.Models.TicketModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarBrand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarBrand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarModel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LicensePlate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LicensePlate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaidAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaidAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TicketStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estimation.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estimation.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estimation.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estimation.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estimation.IsApproved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estimation.IsApproved)
        </dd>
    </dl>
    <h4>Parts</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Parts.First<CarWorkshop.Models.PartModel>().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Parts.First<CarWorkshop.Models.PartModel>().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Parts.First<CarWorkshop.Models.PartModel>().Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Parts.First<CarWorkshop.Models.PartModel>().Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Parts.First<CarWorkshop.Models.PartModel>().TotalPrice)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Parts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h4>Services</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tasks.First<CarWorkshop.Models.TaskModel>().Employee.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tasks.First<CarWorkshop.Models.TaskModel>().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tasks.First<CarWorkshop.Models.TaskModel>().WorkTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tasks.First<CarWorkshop.Models.TaskModel>().PricePerHour)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tasks.First<CarWorkshop.Models.TaskModel>().TotalPrice)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Tasks)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PricePerHour)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
